body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: slategrey;
  color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

router-outlet {
  display: block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Optional: Add some spacing and styling for better readability */
main {
  margin-top: 20px;
}

p {
  margin: 0;
}
